.simple{
	margin-left: 1%; 
	font-size: 150%;
}

.simpleMain{
	margin-left: 1%; 
	font-size: 150%;
}

.simplePlot{
	margin-left: 5%; 
	margin-right: 5%;
}	

.simpleLDA{
	margin-left: 1%;
	font-size: 150%;
}

.simpleSlider{
	margin-left: 10%; 
	margin-right: 10%;
}